<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thư Viện</title>
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css ">
</head>
<body>
    <script src="bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
    <nav class="navbar navbar-expand-lg bg-primary " data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SoleHeven</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sản Phẩm</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Bài Viết</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Liên Hệ
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Địa chỉ</a></li>
                  <li><a class="dropdown-item" href="#">FanPage</a></li>
                  <li><a class="dropdown-item" href="#">Số Điện Thoại</a></li>
                  <li><a class="dropdown-item" href="#">Email</a></li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav mb-2">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">giỏ hàng</a>
                </li>                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Xin Chào,Vỹ
                  </a>
                  <ul class="dropdown-menu end-0" style="left:auto ;">
                    <li><a class="dropdown-item" href="login.html">Đăng Nhập</a></li>
                    <li><a class="dropdown-item" href="#">Đăng Ký</a></li>
                    <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
                    <li><a class="dropdown-item" href="#">Thông tin Tài Khoản</a></li>
                    <li><hr class="dropdown-divider"></li>               
                  </ul>
                </li>
              </ul>
          </div>
        </div>
      </nav>
<div class="container my-3">
      <div class="row">
        <div class="col-md-3">
          <form action="" method="get">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
            </div>           
          </form>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              Top giày hot trend 2023
            </a>
            <a href="#" class="list-group-item list-group-item-action">1. Nike AirForce One</a>
            <a href="#" class="list-group-item list-group-item-action">2. Convers 19702</a>
            <a href="#" class="list-group-item list-group-item-action">3. JorDan Pink</a>
            <a href="#" class="list-group-item list-group-item-action">4. Convers Classic</a>
          </div>
        </div>
        <div class="col-md-9">
          <!-- phần sản phẩm chi tiết -->
          <div class="row my-3">
            <div class="col-md-6">
              <img src="image/giay3.jpg" class="w-100">
            </div>
            <div class="col-md-6">
              <h2>Nike AirForce 1</h2>
              <div class="row my-3">
                <div class="col-md-6">Hãng : <strong> Nike</strong></div>
                <div class="col-md-6">Dòng : <strong>Jordan</strong></div>
              </div>
              <div class="text-danger fs-1">1.200.000</div>
              <small> hiện shop còn <Strong class="text-danger"> 5 </Strong> Đôi </small>
            <div class="row my-3">
              <div class="col-sm-6"><button class="btn btn-outline-primary btn-lg">Mua Ngay</button></div>
              <div class="col-sm-6"><button class=" btn btn-outline-danger btn-lg">Thêm Vào giỏ hàng</button></div>
              <hr>
              <p class="my-3">Nike đã ra mắt phiên bản Nike Air Force 1 Low ‘Hemp Coconut Milk’ trong dòng sản phẩm Air Force 1 Low của mình.
                Được chế tác bằng chất liệu cơ bản là da và da lộn, mẫu này có tông màu đất với nhiều sắc thái khác nhau như màu nâu vàng và nâu để tạo nên một phối màu bổ sung. Các chi tiết cao cấp có thể được tìm thấy trên lưỡi giày bằng vải nhung và gót giày bằng da màu nâu đậm, trong khi nhãn hiệu xuất hiện trên bảng điều khiển, thẻ lưỡi Nike Air Force 1, đế lót giày và hình kẻ caro Nike đặc biệt ở gót chân. Giày sneaker nằm trên đế giữa màu trắng và đế ngoài màu nâu, trong khi dây buộc màu nâu buộc giày lại với nhau để tạo sự gắn kết.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2 style="text-align:center ;">có thể bạn thích</h2>
      <div class="row">
        <div class="col-sm-3">
          <div class="card mb3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
          </div>
        <div class="col-sm-3">
          <div class="card mb-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
          </div>
        <div class="col-sm-3">
          <div class="card mb3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
          </div>
        <div class="col-sm-3">
          <div class="card mb3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
          </div>
      </div>
      <h3 class="text-danger my-3">Đánh giá Sản Phẩm</h3>
      <div class="row">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Tên Của Bạn</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Tên">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Hãy Nêu Cảm Nghĩ của bạn</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <button class="btn btn-outline-primary btn-lg my-3">Gửi</button>
        </div>
        <div class="col-sm-3">
          <Strong>Trần Thế Vỹ</Strong> <br> 2:24 10/10/2023 <br>
        </div>
      <div class="col-sm-9">
jwefnjwkhbksfbsfdjfjkfjdsnfjadfejlladjfoihsdfuewhufhwuieeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeehufhsiughsjghjskgh
      </div>
      </div>
    </div>
    <footer class="text-center text-bg-primary p-3">Bản Quyền Thuộc Soleheven 2023 CopyRight@2023</footer>
</body>
</html>