<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thư Viện</title>
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css ">
    <script src="https://kit.fontawesome.com/1f921e4f86.js" crossorigin="anonymous"></script>

</head>
<body>
    <script src="bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
    <nav class="navbar navbar-expand-lg bg-primary " data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SoleHeven</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sản Phẩm</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Bài Viết</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Liên Hệ
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Địa chỉ</a></li>
                  <li><a class="dropdown-item" href="#">FanPage</a></li>
                  <li><a class="dropdown-item" href="#">Số Điện Thoại</a></li>
                  <li><a class="dropdown-item" href="#">Email</a></li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav mb-2">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-cart-shopping fa-xl"></i></a>
                </li>                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user fa-xl"></i> Xin Chào,Vỹ
                  </a>
                  <ul class="dropdown-menu " >
                    <li><a class="dropdown-item" href="login.html">Đăng Nhập</a></li>
                    <li><a class="dropdown-item" href="#">Đăng Ký</a></li>
                    <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
                    <li><a class="dropdown-item" href="#">Thông tin Tài Khoản</a></li>
                    <li><hr class="dropdown-divider"></li>               
                  </ul>
                </li>
              </ul>
          </div>
        </div>
      </nav>
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide my-3">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="image/s1.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="image/s2.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="image/s3.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

      <div class="row">
        <div class="col-md-3">
          <form action="" method="get">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
            </div>           
          </form>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              Top giày hot trend 2023
            </a>
            <a href="#" class="list-group-item list-group-item-action">1. Nike AirForce One</a>
            <a href="#" class="list-group-item list-group-item-action">2. Convers 19702</a>
            <a href="#" class="list-group-item list-group-item-action">3. JorDan Pink</a>
            <a href="#" class="list-group-item list-group-item-action">4. Convers Classic</a>
          </div>
        </div>
        <div class="col-md-9">
          <!-- phần sản phẩm -->
          <h2>Sản Phẩm nổi bật</h2>
          <div class="row">
            <div class="col-sm-3">
              <div class="card mb3">
                <img src="image/giay3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="detail.html" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
              </div>
            <div class="col-sm-3">
              <div class="card mb3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="detail.html\" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
              </div>
            <div class="col-sm-3">
              <div class="card mb3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
              </div>
            <div class="col-sm-3">
              <div class="card mb3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
              </div>
            <div class="col-sm-3">
              <div class="card mb3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
              </div>
            <div class="col-sm-3">
              <div class="card mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
              </div>
            <div class="col-sm-3">
              <div class="card mb3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
              </div>
            <div class="col-sm-3">
              <div class="card mb3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>