<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thư Viện</title>
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css ">
</head>
<body>
    <script src="bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
    <nav class="navbar navbar-expand-lg bg-primary " data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SoleHeven</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sản Phẩm</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Bài Viết</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Liên Hệ
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Địa chỉ</a></li>
                  <li><a class="dropdown-item" href="#">FanPage</a></li>
                  <li><a class="dropdown-item" href="#">Số Điện Thoại</a></li>
                  <li><a class="dropdown-item" href="#">Email</a></li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav mb-2">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">giỏ hàng</a>
                </li>                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Xin Chào,Vỹ
                  </a>
                  <ul class="dropdown-menu end-0" style="left:auto ;">
                    <li><a class="dropdown-item" href="#">Đăng Nhập</a></li>
                    <li><a class="dropdown-item" href="#">Đăng Ký</a></li>
                    <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
                    <li><a class="dropdown-item" href="#">Thông tin Tài Khoản</a></li>
                    <li><hr class="dropdown-divider"></li>               
                  </ul>
                </li>
              </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <h1>Chào Mừng Bạn Đến Với SoleHeven</h1>
        <form method="post">
          <div class="mb-3">
            <label for="phone" class="form-label">Số Điện Thoại</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mật Khẩu</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Ghi nhớ</label>
          </div>
          <button type="submit" class="btn btn-primary">Đăng Nhập</button>
        </form>
      </div>
      
</body>
</html>